* {
    margin: 0;
    padding: 0;
    
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
  }
  .menu ul {
    display: flex;
  
  }
  .menu li {
    margin: 20px;
    border-top: 1px;
    border-bottom: 1px;
  }
  .menu a:hover {
    border-top: 1px solid;
    border-bottom: 1px solid;
  
  }
  .menu a {
    color: #333333;
  }
  .menu {
    display: flex;
    justify-content: space-around;
  }
  .photo {
    margin-top: 5px;
  }

.text-main {
    font-size: 3rem;
    color: #BDBDBD;
    margin-left: 324px;
    margin-top: 93px;


}
.bold-text-main {
    color: black;
    font-weight: 700;
    padding-bottom: 60px;
}
.flex_photo-text-main {
    margin-top: 30px;
    display: flex;
    
}
.flex-photo-main {
    margin-left: 324px;
    padding-right: 30px;
}
.flex-text-main {
    margin-right: 407px;
    text-align:justify
}
.big-foto {
    text-align: center;
}
.back-footer {
  margin-top: 130px;
  background-color: black;
  color: white;
}

.flex-all {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  padding-bottom: 100px;

}
.text_flex p {
  padding-bottom: 20px;
}
.text_flex a {
  color: white;
}

.footer-div {
  text-align: center;
}


.class-ttextt2  {
  display: flex;
}
.class-ttextt2 {
  padding-bottom: 60px;
}
.class-ttextt2 p {
  padding-left: 10px;
}
/* отступ для контактов */
.eee {
  padding-bottom: 24px;
}
.photo_flex3 > a {
  padding-top: 10px;
  padding-right: 10px;
}
.footer-div {
  border-top: 1px solid red
}
.footer-div p {
  padding-top: 40px;
  padding-bottom: 40px;
}